.superwrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: var(--p4);
  max-width: 700px;
}

.superwrapper > :last-child {
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: start;
}
