.wrapper {
  display: flex;
}

.wrapper.reverse {
  flex-direction: row-reverse;
}

.score {
  width: 65px;
  padding: var(--p1) var(--p2);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--box-color);
  color: white;
  font-weight: 600;
  font-family: var(--google-font);
  font-size: var(--f1);
  letter-spacing: 1.05;
}

.score.matchScore {
  padding: var(--p1) var(--p3) !important;
  filter: brightness(80%);
}

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: var(--p4) 0 var(--p4) var(--p3);
  border-color: transparent transparent transparent var(--box-color);
}

.reverse .triangle {
  border-width: var(--p4) var(--p3) var(--p4) 0;
  border-color: transparent var(--box-color) transparent transparent;
}
